<div class="row">
  <div class="col-xs-6">
    <div class="list-group">
      <!-- queryParams sirve para pasar parámetros a la url en formato de queries
      la url con el botón sería: /servers/5/edit?allowEdit=1
      queryParams recibe un objeto tipo js donde todos los kvp serán separados por un &
      fragment concatena un # mas el parámetro que funciona como anchor tag-->
      <a [routerLink]="['/servers', server.id]"
      [queryParams]="{allowEdit: server.id === 2 ? '1' : '0', notHappy: 'cool'}"
      fragment="loading"
      class="list-group-item"
      *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-6">
    <router-outlet></router-outlet>
    <!-- <button class="btn btn-primary" (click)="onReload()">Reload Page</button>
    <app-edit-server></app-edit-server> -->
    <!-- En este caso la ruta debe ser absoluta, ya que el componente padre fue convocado por un routerLink, lo que significa que
    en las rutas hijas, no es posible poner servers sin slash ya que se hace un append sobre la ruta. Sólamente las rutas superiores
    pueden aplicar relativas. Router link funcionan como una navegación de directorios con ./ o ../
    <a routerLink="/servers"> Reload</a> -->
    <hr>
    <!-- <app-server></app-server> -->
  </div>
</div>
