<div *ngIf="recipe">
    <div class="row">
        <div class="col-xs-12"><img [src]="recipe.imagePath" [alt]="recipe.name" class="img-responsive" style="max-height: 200px;"></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>Recipe Name</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group" appDropdown>
                <button type="button" class="btn btn-primary dropdown-toggle">
                    Manage Recipe <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a style="cursor: pointer" (click)="onAddingToShList()">To Shopping List</a></li>
                    <li><a style="cursor: pointer" (click)="onEditingRecipe()">Edit Recipe</a></li>
                    <li><a style="cursor: pointer" (click)="onDeletingRecipe()">Delete Recipe</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{recipe.description}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group"></ul>
            <li *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}} - {{ingredient.amount}}</li>
        </div>
    </div>
</div>
