<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <!-- Form sin submit porque no se sube nada al server, sin embargo, se utiliza la directiva
            ngSubmit y se bindea a un evento, que entonces el boton con type submit será el que llame este evento
            que al final se dispara un método en el ts del componente.
            Se le da un tag para poder enviar la forma a través del método -->
            <form (ngSubmit)="onSubmit()" #f="ngForm">
                <div id="user-data">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <!-- ngModel es una directiva para ser reconocida como un control del form y un name para
                        ser registrada como un objeto de js reconocido por ángular, para la validación siempre será
                        a través del template, lo cual limita la flexibilidad-->
                        <input type="text" id="username" class="form-control" ngModel name="username" required>
                    </div>
                    <button class="btn btn-default" type="button">Suggest an Username</button>
                    <div class="form-group">
                        <label for="email">Mail</label>
                        <input type="email" id="email" class="form-control" ngModel name="email" email required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="secret">Secret Questions</label>
                    <select id="secret" class="form-control" ngModel name="secret">
                        <option value="pet">Your first Pet?</option>
                        <option value="teacher">Your first teacher?</option>
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
