<h4>Welcome to Server Manager 4.0</h4>
<p>Manage your Servers and Users.</p>

<button class="btn btn-primary" (click)="onLoadServers(1)">Load Servers</button>

<!-- botones que implementarán un fake auth para probar los guards -->
<button class="btn btn-info" (click)="onLogin()">Login</button>
<button class="btn btn-warning" (click)="onLogout()">Logout</button>
