<p>User with ID {{user.id}} loaded.</p>
<p>User name is {{user.name}}</p>
<hr>
<!-- sintaxis para escribir una ruta con parámetros, esto se traducirá en la ruta como:
localhost:4200/users/10/Anna -->
<a [routerLink]="['/users', 10, 'Anna']">Load Anna</a>
