<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li [ngClass]="{odd: odd % 2 !== 0}" [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'black' : 'yellow'}" class="list-group-item"
            *ngFor="let odd of oddNumbers">{{odd}}
          </li>
        </div>
        <!-- <div *ngIf="!onlyOdd">
          Uso de la directiva de estructura costumizada donde un elemento es renderizado si una condición es falsa -->
        <div *appUnless="onlyOdd">
          <li [ngClass]="{odd: odd % 2 === 0}" [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'black' : 'yellow'}" class="list-group-item"
            *ngFor="let even of evenNumbers">{{even}}
          </li>
        </div>
      </ul>
      <p appBasicHighlight>Style me with your directive</p>

      <!-- Directiva better highlight con property binding a través de input para seleccionar el color del estilo
        El primer approach es sin utilizar un alias en el input de la propiedad, el segundo permite llamar la directiva
        y ahí mismo hacer el binding de la propiedad para asignarle un valor.

      <p appBetterHighlight [defaultColor]="'blue'" [highlightColor]="'red'">Style me with your directive</p> -->
      <p [appBetterHighlight]="'red'" [defaultColor]="'blue'">Style me with your directive</p>

      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>

      <!-- ngSwitch funciona similar al ngIf renderizando elementos del dom en caso de que un valor coincida con su parámetro-->
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">value is 5</p>
        <p *ngSwitchCase="10">value is 10</p>
        <p *ngSwitchCase="100">value is 100</p>
        <p *ngSwitchDefault>value is default</p>
      </div>
    </div>
  </div>
</div>
