<div class="row">
  <div class="col-xs-5">
    <div class="list-group">
      <a
      [routerLink]="['/users', user.id, user.name]"
        href="#"
        class="list-group-item"
        *ngFor="let user of users">
        {{ user.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-7">
    <!-- <app-user></app-user> Uso del router outlet para rutas hijas configuradas -->
    <router-outlet></router-outlet>
  </div>
</div>


