<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <!-- Para utilizar formGroup anidados utilizar un wrapper junto con la directiva formGroupName -->
                <div formGroupName="userData">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" formControlName="userName">
                        <!-- cuando se necesita accesar a un control de un campo dentro de un group anidado se debe usar a través
                        de un get form.controls['control'] no funciona. Accesar a los diferentes errores individuales del control para
                        indicar el tipo de error -->
                        <span *ngIf="signUpForm.get('userData.userName').invalid && signUpForm.get('userData.userName').touched"
                            class="help-block">Please
                            enter a valid username</span>
                        <span *ngIf="signUpForm.get('userData.userName').errors['nameIsForbidden']" class="help-block">That
                            username is forbidden</span>
                        <span *ngIf="signUpForm.get('userData.userName').errors['required'] && signUpForm.get('userData.userName').touched"
                            class="help-block">Field
                            must not be empty</span>
                    </div>
                    <div class="form-group">
                        <label>email</label>
                        <input type="text" class="form-control" formControlName="email">
                        <span *ngIf="signUpForm.get('userData.email').invalid && signUpForm.get('userData.email').touched"
                            class="help-block">Please
                            enter a valid email</span>
                    </div>
                </div>
                <!-- FormArray para agregar controles dinámicamente -->
                <div formArrayName="hobbies">
                    <h4>Your hobbies</h4>
                    <button class="btn btn-default" type="button" (click)="onAddHobby()">Add Hobby</button>
                    <!-- Ciclar el formArray para generar los campos correspondientes -->
                    <div class="form-input" *ngFor="let hobbyControl of signUpForm.get('hobbies').controls; let i = index">
                        <label>Hobby</label>
                        <input type="text" class="form-control" [formControlName]="i">
                    </div>
                </div>

                <div class="radio" *ngFor="let gender of genders">
                    <label>
                        <input type="radio" [value]="gender" formControlName="gender">{{ gender }}
                    </label>
                </div>
                <span *ngIf="signUpForm.invalid && signUpForm.touched" class="help-block">Please
                    enter valid data</span>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
