<div class="row">
    <div class="col-md-5">
        <!-- <app-recipe-list (recipeWasSelected)="selectedRecipe = $event"></app-recipe-list> -->
        <app-recipe-list></app-recipe-list>
    </div>
    <hr>
    <div class="col-md-7">
        <!-- <app-recipe-detail
    *ngIf="selectedRecipe; else infoText"
    [recipe]="selectedRecipe"></app-recipe-detail>
    <ng-template #infoText>
        <p>Please select a Recipe!</p>
    </ng-template>
    Se eliminan para poner el router Outlet que cargará el recipe-detail -->
        <router-outlet></router-outlet>
    </div>
</div>
<hr>
