<div class="row">
    <div class="col-xs-12"><button (click)="onNewRecipe()" class="btn btn-success">New Recipe</button></div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-recipe-item
        [recipe]="recipeEl"
        [index]="i"
        *ngFor="let recipeEl of recipes; let i = index"></app-recipe-item>
    </div>
</div>

<!-- (recipeSelected)="onRecipeSelected(recipeEl)" -->
