<div class="container">
    <div class="row">
        <!-- Sintaxis para recibir un evento recibido por un evento hijo, cuando algún evento se triggerea dentro del componente hijo y
        llegue a los métodos del componente padre -->
        <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
    </div>
    <hr>
    <div class="row">
        <!-- Se ha hecho un custom binding a una propiedad existente en el componente server-element el cual su propósito es
        pasar información al componente hijo, a través del decorador @Input('alias') aplicado a la propiedad de la clase del
        componente con el mismo nombre -->
        <app-server-element [element]="serverElement" *ngFor="let serverElement of serverElements">
            <!-- Todo esto se renderiza con la directiva ng-content en el componente hijo -->
            <p #contentParagraph>
                <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
                <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
            </p>
        </app-server-element>
    </div>
</div>
