<div class="row">
  <div class="col-xs-12">
    <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <app-odd [number]="odd" *ngFor="let odd of oddNumbers"></app-odd>
    <app-even [number]="even" *ngFor="let even of evenNumbers"></app-even>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
  </div>
</div>
