<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <main>
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
</div>
