<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading" #heading>{{ element.name }}</div>
        <div class="panel-body">
            <!-- Esto se va al componente padre para ser renderizado a través de la directiva ng-content -->
            <!-- <p>
                <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
                <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
            </p> -->
            <ng-content></ng-content>
        </div>
    </div>
</div>
